@{
    ViewBag.Title = "Form Page";
}

@model TempleTours.Models.Group

<div>
    <h1>Sign up here!</h1>
    <p>Please enter your group's name, size, and contact information. We will get back to you shortly!</p><br />

    <form asp-action="Form" method="post">

        @*submit a new form; dummy data now, loop through IRepository later*@
        <div class="table myInput">
            <label asp-for="GroupSlot">Timeslot</label>
            <input asp-for="GroupSlot" class="myInput" value="8:00 PM (from Sign Up page)" /><br />

            <label asp-for="GroupName">Group Name</label>
            <input asp-for="GroupName" class="myInput" required/><br />

            <label asp-for="Size">Group Size</label>
            <input asp-for="Size" type="number" min ="1" max="1000" class="myInput" required/><br />

            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="myInput" required/><br />

            <label asp-for="Phone">Phone</label>
            <input asp-for="Phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="myInput" required/><br /><br />

            <button asp-action="Index" type="submit" class="btn btn-primary">Submit</button>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
    </form>
</div>
