@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome to Temple Tours!</h1>
    
    <p>
        The Layton Temple is excited to give you a tour of this beautiful temple. Live temple tours occur every hour 8 AM to 8 PM from Monday through Sunday.
        <br />Please click <a asp-action="SignUp">here</a> or the button below to sign up!
    </p>
    
    <img src="~/img/LaytonTemple.jpg" width="700px"/><br /><br />
    <a asp-action="SignUp"><input type="button" class="btn btn-primary" value="Sign Up!" /></a><br /><br />
</div>
