@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome to Temple Tours!</h1>
    <p>The Layton Temple is excited to give you a tour of this beautiful temple. Please <a href="SignUp">click here</a> or the button below to sign up!</p>
    <img src="~/img/LaytonTemple.jpg" width="700px"/><br /><br />
    <button class="btn btn-primary">Sign Up!</button><br /><br />
</div>
