@{
    ViewBag.Title = "Sign Up Page";
}

@model TempleTours.Models.TimeslotModel

<div>
    <h1>Sign Up Page</h1>
    <p>Sign up below for slots to take a tour of the temple!</p><br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Time</th>
                <th>Day</th>
                <th>Availability</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Schedule)
            {
                <tr>
                    <td>@x.Time</td>
                    <td>@x.Day</td>

                    @if (x.Available == true)
                    {
                        <td>Available</td>
                        <td>
                            @*submitting to Form instead of signup; explore?*@
                            <form asp-action="SignUp" method="post"><input type="hidden" id="time" name="time" value="@x.Time"/>
                            <button type="submit" class="btn btn-primary">Sign Up!</button></form>
                        </td>
                    }
                    else
                    {
                        <td>Not Available</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@*<input type="button"  value="Sign up!" />*@
