@*
    This is the page were all of the appointments will be displayed allong with the information
*@
@{
}
<!-- ^^ is where the model is going to be brought in-->
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            Name of Group: Name
        </h4>
        <p>Size of Group: Model.Size</p>

        <p>Email Address: Model.Phase</p>
        <p>Phone Number: Model.PhoneNumber</p>
    </div>

</div>

